version: '3.8'

services:
  mariadb:
    image: mariadb:10.11
    container_name: mariadb_db
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root123
      - MYSQL_DATABASE=ASS_SOF3021
      - MYSQL_USER=sa
      - MYSQL_PASSWORD=sa123
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
      - ./scripts:/docker-entrypoint-initdb.d
    networks:
      - app-network

volumes:
  mariadb_data:

networks:
  app-network:
    driver: bridge
